<div class="page-wrapper">
  <app-mat-spinner-overlay *ngIf="viewSpinner">
  </app-mat-spinner-overlay>
  <!-- ============================================================== -->
  <!-- Container fluid  -->
  <!-- ============================================================== -->
  <div class="container-fluid animated fadeIn">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->

    <div class="row page-titles">
      <div class="col-md-5 align-self-center">
        <h3 class="text-themecolor">Perfil usuario {{ user && user.user_name }}</h3>
      </div>
      <div class="">

      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="d-inline">
            <div class="p-3 d-inline" *ngIf="!isEdited">
              <h3 class="card-title p-1">Vista de datos del usuario</h3>
              <button type="button" class="btnEdit btn-primary button d-inline float-right" (click)="edit()">
                <span matTooltip="Elija editar para cambiar los datos de la empresa">Editar
                </span>
                <i class="fa fa-edit p-1"></i>
              </button>
            </div>
            <div class="d-inline" *ngIf="isEdited">
              <h3 class="card-title p-1">Solicitud cambio de datos del usuario</h3>
              <cite class="card-title p-1">los campos marcados con * son obligatorios</cite>
              <button type="button" matTooltip="Limpiar el formulario y salir de editar"
                class="btnClean btn btn-default d-inline float-right" (click)="cleanForm()">Limpiar
                formulario
                <i class="fa fa-trash-o" aria-hidden="true"></i>
              </button>
            </div>
            <p *ngIf="urlSended" class="filter d-inline text-success">Técnico desde listado
              <a type="button" class="btn btn-info btn-sm" [routerLink]="urlSended" matTooltip="Volver al listado">
                <i class="fa fa-list" aria-hidden="true"></i>
                Volver al listado
              </a>
              <cite class="text-danger ml-2 h6">* Ahora no puedes usar el link de tu perfil</cite>
            </p>
          </div>
          <div class="card-body">
            <div class="form-body">
              <hr>
              <form [formGroup]="addUserForm" (ngSubmit)="sendEditUser()" novalidate autocomplete="off">
                <div class="row p-t-10">
                  <div class="col-md-6">
                    <div id="div-img-user" class="text-center">
                      <img id="img-user"
                        [src]="user && user.user_img ?  url + '/uploads/' + user.user_img : './assets/images/icon/staff.png'"
                        height="200px" width="200px" alt="This is a small profile image"><br>
                      <input accept="image/png,image/jpeg,image/jpg" formControlName="user_img" type="file"
                        name="user_img" id="user_img" class="inputFile" (change)='uploadFile($event)'>
                      <label class="label-control d-block text-light" for="user_img">
                        <span class="file-button">
                          <i class="fa fa-upload" aria-hidden="true"></i>
                          Seleccione imagen
                        </span>
                      </label>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group mt-5">
                      <label for="nombre" class="control-label">* Nombre</label>
                      <input formControlName="nombre" id="nombre" name="nombre" type="text" class="form-control"
                        placeholder="Nombre completo">
                      <span class="err text-danger"
                        *ngIf="addUserForm.get('nombre')?.invalid && addUserForm.get('nombre')?.touched">
                        El <strong>nombre es</strong> requerido
                      </span>
                    </div>
                    <div class="form-group">
                      <label for="apellidos" class="control-label">* Apellidos</label>
                      <input formControlName="apellidos" id="apellidos" name="apellidos" type="text"
                        class="form-control" placeholder="Apellidos">
                      <span class="err text-danger"
                        *ngIf="addUserForm.get('apellidos')?.invalid && addUserForm.get('apellidos')?.touched">
                        Los <strong>apellidos son</strong> requeridos
                      </span>
                    </div>
                  </div>
                </div>
                <div class="row mt-5">
                  <div class="col-md-3">
                    <div class="form-group">
                      <label for="telefono" class="control-label">* Teléfono</label>
                      <input formControlName="phone" type="number" name="phone" id="phone" class="form-control"
                        placeholder="9999999" maxlength="9" (keydown)="keyPressed($event, 9)">
                      <span class="err text-danger"
                        *ngIf="addUserForm.get('phone')?.invalid && addUserForm.get('phone')?.touched && !addUserForm.get('phone')!.errors!['pattern']">
                        El <strong>teléfono </strong>es requerido
                      </span>
                      <span class="err text-danger"
                        *ngIf="addUserForm.get('phone')!.errors != null && addUserForm.get('phone')!.errors!['pattern'] && addUserForm.get('phone')?.touched">
                        El <strong>Teléfono</strong> no es válido, debe ser 99999999
                      </span>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label for="other_phone" class="control-label">Otro Teléfono</label>
                      <input formControlName="other_phone" type="number" name="other_phone" id="other_phone" class="form-control"
                        placeholder="9999999" maxlength="9" (keydown)="keyPressed($event, 9)">
                      <span class="err text-danger"
                        *ngIf="addUserForm.get('other_phone')!.errors != null && addUserForm.get('other_phone')!.errors!['pattern'] && addUserForm.get('other_phone')?.touched">
                        El <strong>Teléfono</strong> no es válido, debe ser 99999999
                      </span>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label for="email" class="control-label">* Email</label>
                      <input formControlName="email" type="text" class="form-control" placeholder="Email" id="email"
                        name="email" autocomplete="false">
                    </div>
                    <span class="err text-danger"
                      *ngIf="addUserForm.get('email')?.invalid && addUserForm.get('email')?.touched && !addUserForm.get('email')!.errors!['pattern']">
                      El <strong>email es </strong>requerido
                    </span>
                    <span class="err text-danger"
                      *ngIf="addUserForm.get('email')!.errors != null && addUserForm.get('email')!.errors!['pattern'] && addUserForm.get('email')?.touched">
                      El <strong>email</strong> no es válido
                    </span>
                  </div>
                  <div class="col-md-3" *ngIf="user && user.user_rol == 1">
                    <div class="form-group">
                      <label for="rol" class="control-label">* Rol</label>
                      <select formControlName="rol" name="rol" id="rol" class="form-control w-100">
                        <option [ngValue]=0 selected>Seleccione rol</option>
                        <option [ngValue]=1>Administrador</option>
                        <option [ngValue]=2>Usuario</option>
                      </select>
                    </div>
                    <span class="err text-danger"
                      *ngIf="addUserForm.get('rol')?.invalid && addUserForm.get('rol')?.touched">
                      El <strong>rol es</strong> requerido
                    </span>
                    <span class="err text-danger"
                      *ngIf="addUserForm.get('rol')?.touched && addUserForm.get('rol')?.value == 0">
                      El <strong>rol es</strong> requerido
                    </span>
                  </div>
                </div>
                <div class="row mt-5" *ngIf="user && user_rol_technical">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="telefono" class="control-label">* Dirección</label>
                      <input formControlName="address" type="text" name="address" id="address" class="form-control"
                        placeholder="Dirección">
                      <span class="err text-danger"
                        *ngIf="addUserForm.get('address')?.invalid && addUserForm.get('address')?.touched">
                        La <strong>dirección </strong>es requerida
                      </span>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label for="email" class="control-label">* Localidad</label>
                      <input formControlName="region" type="text" class="form-control" placeholder="Localidad" id="region"
                        name="region">
                      <span class="err text-danger"
                        *ngIf="addUserForm.get('region')?.invalid && addUserForm.get('region')?.touched">
                        La <strong>localidad es </strong>requerida
                      </span>
                    </div>
                    </div>
                    <div class="col-md-3">
                    <div class="form-group">
                      <label for="email" class="control-label">* Ciudad</label>
                      <input formControlName="city" type="text" class="form-control" placeholder="Ciudad" id="city"
                        name="city">
                      <span class="err text-danger"
                        *ngIf="addUserForm.get('city')?.invalid && addUserForm.get('city')?.touched">
                        La <strong>ciudad es </strong>requerida
                      </span>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="form-group">
                      <label for="email" class="control-label">* Código postal</label>
                      <input formControlName="cod_postal" type="number" class="form-control" placeholder="Código postal" id="cod_postal"
                        name="region" (keydown)="keyPressed($event, 5)">
                      <span class="err text-danger"
                        *ngIf="addUserForm.get('cod_postal')?.invalid && addUserForm.get('cod_postal')?.touched">
                        El <strong>código postal es </strong>requerido
                      </span>
                    </div>
                  </div>
                </div>
                <div class="row mt-5">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="actPassword" class="control-label">Contraseña actual</label>
                      <input formControlName="actPassword" type="password" name="actPassword" id="actPassword"
                        class="form-control" placeholder="contraseña actual" maxlength="10" minlength="6"
                        autocomplete="new-password">
                      <i class="far fa-eye" style="margin-left: -30px;cursor: pointer; color: #045FB4"
                        id="toggleActPassword"></i>
                      <span class="err text-danger"
                        *ngIf="addUserForm.get('actPassword')!.errors != null && addUserForm.get('actPassword')!.errors!['pattern'] && addUserForm.get('actPassword')?.touched">
                        La <strong>contraseña</strong> no es válida, debe contener
                        <pre>
                            - 10 caracteres max
                            - 6 caracteres min
                            - 1 mayúscula
                            - 1 minúscula
                            - 1 número
                            - 1 carácter especial
                          </pre>
                      </span>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label *ngIf="addUserForm.get('actPassword')?.value == ''" for="newPassword"
                        class="control-label">Nueva contraseña</label>
                      <label *ngIf="addUserForm.get('actPassword')?.value != ''" for="newPassword"
                        class="control-label">* Nueva contraseña</label>
                      <input formControlName="newPassword" type="password" class="form-control"
                        placeholder="contraseña nueva" id="newPassword" name="newPassword" maxlength="10" minlength="6"
                        autocomplete="new-password">
                      <i class="far fa-eye" style="margin-left: -30px; cursor: pointer; color: #045FB4"
                        id="toggleNewPassword"></i>
                      <span class="err text-danger"
                        *ngIf="addUserForm.get('newPassword')!.errors != null && addUserForm.get('newPassword')!.errors!['pattern'] && addUserForm.get('newPassword')?.touched">
                        La <strong>contraseña</strong> no es válida, debe contener
                        <pre>
                            - 10 caracteres max
                            - 6 caracteres min
                            - 1 mayúscula
                            - 1 minúscula
                            - 1 número
                            - 1 carácter especial
                          </pre>
                      </span>
                      <span class="err text-danger"
                        *ngIf="(addUserForm.get('newPassword')?.touched && addUserForm.get('actPassword')?.touched) && (addUserForm.get('actPassword')!.valid && addUserForm.get('newPassword')!.valid) && (addUserForm.get('newPassword')!.value == addUserForm.get('actPassword')!.value)">
                        Las <strong>contraseñas </strong>actual y nuevas no pueden ser iguales
                      </span>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label *ngIf="addUserForm.get('actPassword')?.value == ''" for="rol" class="control-label">Escriba
                        de nuevo la contraseña</label>
                      <label *ngIf="addUserForm.get('actPassword')?.value != ''" for="rol" class="control-label">*
                        Escriba de nuevo la contraseña</label>
                      <input formControlName="comparePasswords" type="password" class="form-control"
                        placeholder="contraseña nueva" id="comparePasswords" name="comparePasswords" maxlength="10"
                        minlength="6" autocomplete="new-password">
                      <i class="far fa-eye" style=" margin-left: -30px;  cursor: pointer; color: #045FB4"
                        id="toggleCompPassword"></i>
                        <span class="err text-danger"
                        *ngIf="addUserForm.get('comparePasswords')!.errors != null && addUserForm.get('comparePasswords')!.errors!['pattern'] && addUserForm.get('comparePasswords')?.touched">
                        La <strong>contraseña</strong> no es válida, debe contener
                        <pre>
                          - 10 caracteres max
                          - 6 caracteres min
                          - 1 mayúscula
                          - 1 minúscula
                          - 1 número
                          - 1 carácter especial
                        </pre>
                      </span>
                      <span class="err text-danger"
                      *ngIf="(addUserForm.get('newPassword')!.valid && addUserForm.get('comparePasswords')!.valid) && (addUserForm.get('newPassword')!.value != addUserForm.get('comparePasswords')!.value)">
                      Las <strong>contraseñas </strong>no coinciden
                    </span>
                  </div>
                  </div>
                </div>
                <div class="form-actions mb-5">
                  <button type="submit"
                    [disabled]="(addUserForm.invalid || isDisabled()) || ((addUserForm.get('newPassword')!.value == addUserForm.get('actPassword')!.value) && (addUserForm.get('newPassword')!.value  !== '' && addUserForm.get('actPassword')!.value !== '')) || (addUserForm.get('newPassword')!.value !== addUserForm.get('comparePasswords')!.value) || (addUserForm.get('actPassword')!.value !== '' && addUserForm.get('newPassword')!.value === '')"
                    class="btn-primary button d-inline">
                    <span
                      [matTooltip]="(addUserForm.invalid || isDisabled()) || ((addUserForm.get('newPassword')!.value == addUserForm.get('actPassword')!.value) && (addUserForm.get('newPassword')!.value  !== '' && addUserForm.get('actPassword')!.value !== '')) || (addUserForm.get('newPassword')!.value !== addUserForm.get('comparePasswords')!.value) || (addUserForm.get('actPassword')!.value !== '' && addUserForm.get('newPassword')!.value === '')? 'Faltan campos obligatorios' : 'Guardar datos usuario'"
                      [matTooltipPosition]="'below'" aria-label="Botón que guarda la información sobre el usuario"
                      MAT_STRATEGY>Guardar
                    </span>
                    <i class="fa fa-save p-1"></i>
                  </button>

                </div>
                <p class="text-danger" *ngIf="user_rol_technical">{{ getFormValidationErrors(addUserForm) }}</p>
                <!-- <p class="text-danger">{{ getFormValidationErrors(addUserForm) }}</p> -->
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
