.hide-menu {
  font-weight: 600 !important;
  font-family: Monserrat, Arial, Helvetica, sans-serif !important;
  font-size: 1.2em !important;
}

a, #welcome, .cursor {
  cursor: pointer;
}

a:active {
  color: rgb(104, 104, 122) !important;
  background: transparent !important;
}

a:hover {
  color: rgb(35, 35, 233) !important;
  background: transparent !important;
}

.fw-bold {
  font-weight: bold !important;
}


#container {
  margin-top: 10%;
}

.footer {
  background-color: whitesmoke;
  padding: 0 !important;
  z-index: 99;
}

.example-card {
  max-width: 400px;
}

#main-wrapper-mat-card {
  margin-left: 15%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.col-md-4.first {
  background-image: url("../../assets/images/background/R.jpeg");
}

.col-md-4.second {
  background-image: url("../../assets/images/background/Móstoles_Plaza_del_Sol.jpg");
}

.col-md-4.third {
  background-image: url("../../assets/images/background/mapa.jpeg");
}

.col-md-4 {
  margin: 10px;
  padding: 20px;
  max-width: 400px;
  background-size: cover;
  display: inline;
}

.col-md-8 {
  padding: 0;
}

.card.first {
  color: white !important;
}

.card.second {
  color: white !important;
}

.card.third {
  color: black !important;
}

.card {
  background-color: transparent;
  font-weight: 900 !important;
  font-family: Monserrat, Arial, Helvetica, sans-serif !important;
}

mat-card.panel {
  padding: 0px !important;
  margin-left: 50px !important;
  cursor: pointer;
}

.nav-sup-menu {
  font-weight: 600 !important;
  font-family: Monserrat, Arial, Helvetica, sans-serif !important;
  font-size: 1.2em !important;
}

.hide-menu {
  font-size: 1.1em !important;
}

::ng-deep .mat-tooltip {
  white-space: pre-line !important;
  background-color: rgb(43, 43, 212) !important;
  font-size: 16px !important;
}

@media (max-width: 1015px) {
  .col-md-4 {
    flex-direction: column !important;
    flex: auto;
  }
}

@media (max-width: 1495px) {
  :host ::ng-deep div.map-container {
    width: auto !important;
  }
}
