<div id="main-wrapper">
  <!-- ============================================================== -->
  <!-- Topbar header - style you can find in pages.scss -->
  <!-- ============================================================== -->
  <header class="topbar">
    <nav class="navbar top-navbar navbar-expand-md navbar-light" aria-label="label">
      <!-- ============================================================== -->
      <!-- Logo -->
      <!-- ============================================================== -->
      <div class="navbar-header align-self-center align-items-center justify-content-center d-flex">
        <a class="navbar-brand" (click)="functViewDashboard()">
          <!-- Logo icon -->
            <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
            <!-- Dark Logo icon -->
          <b>
            <img src="./assets/images/icon/favicon-32x32.png" alt="homepage" class="dark-logo" />
            <!-- Light Logo icon -->
            <img src="./assets/images/icon/favicon-32x32.png" alt="homepage" class="light-logo" />
          </b>
          <!--End Logo icon -->
          <!-- Logo text --><span>
            <!-- dark Logo text -->
            <img src="./assets/images/logo-text.png" alt="homepage" class="dark-logo" />
            <!-- Light Logo text -->
            <img src="./assets/images/logo-light-text.png" class="light-logo mx-1" alt="homepage" /></span> </a>
      </div>
      <!-- ============================================================== -->
      <!-- End Logo -->
      <!-- ============================================================== -->
      <div class="navbar-collapse">
        <!-- ============================================================== -->
        <!-- toggle and nav items -->
        <!-- ============================================================== -->
        <ul class="navbar-nav mr-auto">
          <!-- This is  -->
          <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up waves-effect waves-dark"
              href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
          <li class="nav-item"> <a class="nav-link sidebartoggler hidden-sm-down waves-effect waves-dark"
              href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
          <li class="nav-item hidden-sm-down"></li>
        </ul>
        <!-- ============================================================== -->
        <!-- User profile and search -->
        <!-- ============================================================== -->
        <ul class="navbar-nav my-lg-0">

          <!-- ============================================================== -->
          <!-- Profile -->
          <!-- ============================================================== -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <img src="./assets/images/icon/alfonso.ico" alt="user" class="profile-pic" />             
            </a>
            <div class="dropdown-menu dropdown-menu-right animated flipInY">
              <ul class="dropdown-user">
                <li>
                  <div class="dw-user-box">
                    <div class="u-img"><img [src]="url + '/uploads/' + user.user_img" alt="user"></div>
                    <div class="u-text">
                      <h4>{{ user.user_name }}</h4>
                      <p class="text-muted">{{ user.user_email }}</p>
                      <a (click)="navigateTo('dashboard/view-user/1', $event)"
                        class="btn btn-rounded btn-danger btn-sm">Ver perfil</a>
                    </div>
                  </div>
                </li>
                <li *ngFor="let item of companiesService.menu">
                  <a class="waves-effect waves-dark" aria-expanded="false">
                    <i [class]="item.icon"></i>
                    <span class="nav-sup-menu p-2">{{ item.title }}</span>
                  </a>
                  <ul aria-expanded="false">
                    <li *ngFor="let subitem of item.submenu">
                      <a (click)="navigateTo(subitem.url, $event)" routerLinkActive="active"
                        [routerLinkActiveOptions]="{ exact: true }">{{ subitem.title }}</a>
                    </li>
                  </ul>
                </li>


                <li role="separator" class="divider"></li>
                <li><a class="cursor" (click)="logout()"><i class="fa fa-power-off mx-2"></i>Salir</a></li>

              </ul>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <!-- ============================================================== -->
  <!-- End Topbar header -->
  <!-- ============================================================== -->
  <!-- Center component -->
  <div id="main-wrapper-mat-card" *ngIf="viewDashBoard">
    <div class="container-fluid animated fadeIn">
      <div class="row">
        <div class="col-md-4 first" appMaterialElevation>
          <mat-card class="card panel first">
            <mat-card-header>
              <mat-card-title-group>
                <mat-card-title>Shiba Inu</mat-card-title>
                <mat-card-subtitle>Large</mat-card-subtitle>
              </mat-card-title-group>
            </mat-card-header>
            <mat-card-content>
              {{longText}}
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-md-4 second" appMaterialElevation>
          <mat-card class="card panel second">
            <mat-card-header>
              <mat-card-title-group>
                <mat-card-title>Shiba Inu</mat-card-title>
                <mat-card-subtitle>Large</mat-card-subtitle>
              </mat-card-title-group>
            </mat-card-header>
            <mat-card-content>
              {{longText}}
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-md-4 third" appMaterialElevation>
          <mat-card class="card panel third">
            <mat-card-header>
              <mat-card-title-group>
                <mat-card-title>Shiba Inu</mat-card-title>
                <mat-card-subtitle>Large</mat-card-subtitle>
              </mat-card-title-group>
            </mat-card-header>
            <mat-card-content>
              {{longText}}
            </mat-card-content>
          </mat-card>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-md-8 mx-3 no-gutters" *ngIf="apiLoaded | async" appMaterialElevation>
          <google-map height="400px" width="1200px" [center]="center" [zoom]="zoom">
          </google-map>
        </div>
      </div>
    </div>
  </div>
  <!-- Center component -->
  <!-- ============================================================== -->
  <!-- Left Sidebar - style you can find in sidebar.scss  -->
  <!-- ============================================================== -->
  <aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
      <!-- Sidebar navigation-->
      <nav class="sidebar-nav" aria-label="label">
        <ul id="sidebarnav">
          <li class="user-profile">
            <a class="has-arrow waves-effect waves-dark" aria-expanded="false">
              <img src="./assets/images/icon/alfonso.ico" alt="user" />
              <span class="hide-menu" style="font-size: 1.1em !important;"> {{ user.user_name }}</span>
            </a>
            <ul aria-expanded="false" class="collapse">
              <li><a (click)="navigateTo('/dashboard/view-user/1', $event)">Mi perfil </a></li>
              <li><a (click)="logout()">Logout</a></li>
            </ul>
          </li>
          <li class="nav-devider"></li>
          <li class="nav-small-cap text-light">Indicadores</li>

          <li class="mb-3" *ngFor="let item of companiesService.menu">
            <a class="has-arrow waves-effect waves-dark" aria-expanded="false">
              <i [class]="item.icon"></i>
              <span class="hide-menu">{{ item.title }}</span>
            </a>
            <ul aria-expanded="false">
              <li class="mt-3" *ngFor="let subitem of item.submenu">
                <a (click)="navigateTo(subitem.url, $event)">{{ subitem.title }}</a>
              </li>
            </ul>
          </li>
          <li class="mb-3" *ngFor="let item of companiesService.menuAdmin">
            <a class="has-arrow waves-effect waves-dark" aria-expanded="false">
              <i [class]="item.icon"></i>
              <span class="hide-menu">{{ item.title }}</span>
            </a>
            <ul aria-expanded="false">
              <li class="mt-3" *ngFor="let subitem of item.submenu">
                <a (click)="navigateTo(subitem.url, $event)">{{ subitem.title }}</a>
              </li>
            </ul>
          </li>
          <li role="separator" class="divider"></li>
          <li class="for-group mx-1" *ngIf="!viewDashBoard">
            <a class="waves-dark" aria-expanded="false" matTooltip="Ver página principal"
              (click)="functViewDashboard()">
              <i class="fa fa-desktop" aria-hidden="true"></i>
              <label id="welcome" class="hide-menu ml-1" for="viewDashBoard">Página bienvenida</label>
            </a>
          </li>

          <li role="separator" class="divider mt-3"></li>
          <li>
            <a class="cursor" (click)="logout()">
              <i class="fa fa-power-off"></i>
              Salir
            </a>
          </li>
        </ul>
      </nav>
      <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
  </aside>
  <!-- ============================================================== -->
  <!-- End Left Sidebar - style you can find in sidebar.scss  -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <footer id="sticky-footer" class="flex-shrink-0 py-2 bg-dark text-white-50 fixed-bottom">
    <div class="container text-center">
      <a href="https://twitter.com/alfonso8969" target="_blank" rel="noreferrer noopener nofollow"><i
          class="fab fa-twitter p-1"></i>Twitter</a>
      <a href="https://www.instagram.com/alfonsojose8969/" target="_blank" rel="noreferrer noopener nofollow"
        class="mx-5"><i class="fab fa-instagram p-1"></i>Instagram</a>
      <a href="https://www.facebook.com/alfonsojose.gonzalezdelgado" target="_blank"
        rel="noreferrer noopener nofollow"><i class="fab fa-facebook p-1"></i>Facebook</a>
      <a href="https://alfonsogonz.es/alf-blog/politica-de-privacidad/" target="_blank"
        rel="noreferrer noopener nofollow" class="mx-5"><i class="fa fa-file p-1"></i>Privacidad</a>
      <a class="float-right mx-5">@alf8969&copy;</a>
    </div>
  </footer>


  <router-outlet> </router-outlet>
</div>
