.hide-menu {
  font-weight: 600 !important;
  font-family: Monserrat, Arial, Helvetica, sans-serif !important;
  font-size: 1.2em !important;
}

.cursor {
    cursor: pointer;
}

#container {
  margin-top: 10%;
}

.footer {
  background-color: whitesmoke;
  padding: 0 !important;
  z-index: 99;
}

