.tblList th {
  text-align: center;
  font-weight: 700 !important;
  font-family: Monserrat, Arial, Helvetica, sans-serif !important;
  font-size: 1.2em;
  padding: .5em 5em !important;
  vertical-align: middle !important;
}

.tblList td {
  font-weight: 900 !important;
  font-family: Monserrat, Arial, Helvetica, sans-serif !important;
  font-size: 11px;
  color: cadetblue;
  padding: .5rem .5rem .5rem .5rem !important;
}

.table>thead {
  vertical-align: middle !important;
}

table {
  display: block;
  overflow: auto;
  max-height: 500px;
}

.tblList {
  background-color: azure;
  cursor: pointer;
}

th.cdk-column-Nombre {
  width: 25% !important;
}

th.cdk-column-Distrito {
  width: 20% !important;
}

mat-paginator {
  margin-bottom: 0;
  position: fixed;
}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
  display: inline;
}

.example-header.select .mat-form-field {
  width: 40em !important;
}

::ng-deep .mat-tooltip {
  white-space: pre-line !important;
  background-color: rgb(43, 43, 212) !important;
  font-size: 16px !important;
}

@media (max-width: 1440px) {
  .fx1 {
    position: relative !important;
  }

  .row {
    display: block !important;
  }

  .container-fluid {
    padding: 25px 15px 25px 15px;
    overflow-x: auto;
  }

  mat-paginator {
    position: relative;
  }

}

@media (max-width: 767px) {
  .example-header.select .mat-form-field {
    width: 15em !important;
    overflow-y: auto;
  }

  #btnNewCompany {
    font-size: 12px;
    margin-right: 1px !important;
    margin-top: -30px;
  }
  
  .text-themecolor {
    font-size: 14px;
    margin-left: 1px !important;
  }

  .filter{
    font-size: 10px;
    display: block !important;
    margin-bottom: 40px;
  }

  mat-option {
    overflow-y: visible;
  }
}

