<div class="page-wrapper">
  <!-- ============================================================== -->
  <!-- Container fluid  -->
  <!-- ============================================================== -->
  <div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <app-mat-spinner-overlay *ngIf="viewSpinner">
    </app-mat-spinner-overlay>
    <div class="row" *ngIf="!viewSpinner">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <div class="d-flex animated fadeIn">
              <div class="mr-auto">
                <div class="form-group">
                  <h3 class="text-themecolor">Administrar usuarios</h3>
                </div>
              </div>
              <div class="ml-auto">
                <div class="form-group">
                  <mat-form-field>
                    <input matInput (keyup)="applyFilter($event, 1)" placeholder="Buscar por nombre...">
                  </mat-form-field>
                </div>
              </div>
            </div>

            <div class="table1 table-responsive animated fadeInDown">
              <table class="table full-color-table full-primary-table hover-table">
                <thead>
                  <tr>
                    <th >Nombre</th>
                    <th>Apellidos</th>
                    <th>Teléfono</th>
                    <th>Email</th>
                    <th>Rol</th>
                    <th>Fecha Alta</th>
                    <th >Rol</th>
                    <th >Deshabilitar</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let user of usersHab  | paginate: { id: 'userHab', itemsPerPage: 5, currentPage: page }; index as i">
                    <td >{{ user.user_name }}</td>
                    <td>{{ user.user_lastName }}</td>
                    <td>{{ user.user_phone }}</td>
                    <td>{{ user.user_email }}</td>
                    <td>{{ user.rol_name }}</td>
                    <td>{{ user.fecha_alta | date: 'dd-MM-yyyy' }}</td>
                    <td >
                      <a class="btn btn-warning" (click)="getUser(i)" data-toggle="modal" data-target=".md-users"><i
                          class="fa fa-user-plus" ></i></a>
                    </td>
                    <td >
                      <a class="btn btn-danger" (click)="deleteUser(i)"><i class="fa fa-trash"></i></a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="mt-2">
              <pagination-controls id="userHab" (pageChange)="page = $event" [previousLabel]="anterior" [nextLabel]="siguiente" [responsive]="true" [autoHide]="true"></pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="!viewSpinner">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <div class="d-flex animated fadeIn">
              <div class="mr-auto">
                <div class="form-group">
                  <h3 class="text-themecolor">Administrar usuarios inhabilitados</h3>
                </div>
              </div>
              <div class="ml-auto">
                <div class="form-group">
                  <mat-form-field>
                    <input matInput (keyup)="applyFilter($event, 0)" placeholder="Buscar por nombre...">
                  </mat-form-field>
                </div>
              </div>
            </div>

            <div class="table2 table-responsive animated fadeInDown">
              <table class="table full-color-table full-primary-table hover-table">
                <caption></caption>
                <thead>
                  <tr>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    <th>Teléfono</th>
                    <th>Email</th>
                    <th>Fecha baja</th>
                    <th >Habilitar</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let user of usersInHab | paginate: { id: 'userInHab', itemsPerPage: 5, currentPage: page2 }">
                    <td>{{ user.user_name }}</td>
                    <td>{{ user.user_lastName }}</td>
                    <td>{{ user.user_phone }}</td>
                    <td>{{ user.user_email }}</td>
                    <td>{{ user.fecha_baja | date: 'dd-MM-yyyy' }}</td>
                    <td >
                      <a class="btn btn-warning" (click)="toAbleUser(user)"><i
                          class="fa fa-user-plus"></i></a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="mt-2">
              <pagination-controls id="userInHab" (pageChange)="page2 = $event" [previousLabel]="anterior" [nextLabel]="siguiente" [responsive]="true" [autoHide]="true"></pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- End Container fluid  -->
  <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Page wrapper  -->

<div class="row">
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <!-- sample modal content -->
        <div id="md" class="modal fade md-users" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
          aria-hidden="true">
          <div class="modal-dialog modal-md">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" id="myLargeModalLabel">Editar rol</h4>
                <button type="button" class="close" matTooltip="close" [matTooltipPosition]="'after'"
                  data-dismiss="modal" aria-hidden="true">×</button>
              </div>
              <div class="card">
                  <div class="card-body">
                    <div class="form-body">
                      <form [formGroup]="editUserRolForm" (ngSubmit)="editUserRol()" novalidate autocomplete="off">
                      <div class="row p-t-20">
                        <div class="col-md-12">
                          <div class="form-group">
                            <label class="control-label mx-1">Nombre usuario</label>
                            <input formControlName="nombre" type="text" [readonly]="true" name="nombre" id="nombre" class="form-control">
                          </div>
                        </div>
                        <!--/span-->
                      </div>
                      <!--/row-->
                      <div class="row">
                        <fieldset class="mx-3">
                          <legend>Modificar rol</legend>
                          <div class="col-md-12">
                              <div class="form-group">
                                <label for="rol" class="label-control">Rol</label>
                                <select formControlName="rol" name="rol" id="rol" class="form-control w-100" (change)="changeRol($event)">
                                  <option [ngValue]=0>Seleccione rol</option>
                                  <option [ngValue]=1>Administrador</option>
                                  <option [ngValue]=2>Usuario</option>
                                </select>
                                <span class="err text-danger"
                                  *ngIf="editUserRolForm.get('rol')?.invalid && editUserRolForm.get('rol')?.touched">
                                  El <strong>rol es</strong> requerido
                                </span>
                                <span class="err text-danger"
                                  *ngIf="editUserRolForm.get('rol')?.touched && editUserRolForm.get('rol')?.value == 0">
                                  El <strong>rol es</strong> requerido
                                </span>
                              </div>
                            </div>
                          </fieldset>
                        </div>
                        <div class="form-actions">
                          <button type="submit" [disabled]="editUserRolForm.get('rol')?.value == 0" class="btn-primary button d-inline">
                            <span
                              [matTooltip]="editUserRolForm.get('rol')?.value == 0 ? 'Faltan campos obligatorios' : 'Guardar datos rol usuario'"
                              [matTooltipPosition]="'before'"
                              aria-label="Botón que guarda la información sobre el usuario">Guardar
                            </span>
                            <i class="fa fa-save p-1"></i>
                          </button>
                        </div>
                      </form>
                      <!--/row-->
                    </div>
                  </div>
              </div>
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
      </div>
    </div>
  </div>
</div>
