<div class="page-wrapper">
  <!-- ============================================================== -->
  <!-- Container fluid  -->
  <!-- ============================================================== -->
  <app-mat-spinner-overlay *ngIf="load">
  </app-mat-spinner-overlay>
  <div class="container-fluid animated fadeInDown">
    <div class="row page-titles">
      <div class="col-md-5 align-self-center">
        <h3 class="text-themecolor">Detalles del fichero adjunto</h3>
        <h4>{{ file }}</h4>
      </div>
      <div class="button-goup">
        <button type="button" (click)='closePdf()' class='lb-view-file-btn'>
          <i class="fas fa-close"></i>
          Close
        </button>
        <button type="button" (click)='downloadPdf()' class='lb-view-file-btn ml-2'>
          <i class="fa fa-download" aria-hidden="true"></i>
          Descargar
        </button>

      </div>
    </div>
    <div class="row">
      <div class="container">
        <div id="pdf-div" class="pdf-view"></div>
      </div>
    </div>
  </div>
</div>
<!-- ============================================================== -->
