<div class="page-wrapper">
  <!-- ============================================================== -->
  <!-- Container fluid  -->
  <!-- ============================================================== -->
  <div class="container-fluid animated fadeIn">
    <app-mat-spinner-overlay *ngIf="load">
    </app-mat-spinner-overlay>
    <div class="row page-titles">
      <div class="col-md-5 align-self-center">
        <h3 class="text-themecolor">Registrar ticket</h3>
      </div>
      <div class="">

      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="pl-3">
            <h3 class="card-title p-1">Solicitud de datos para nuevo ticket de soporte</h3>
            <cite class="card-title float-left mx-3 p-1">los campos marcados con * son obligatorios</cite>
            <button type="button" matTooltip="Limpiar el formulario"
              class="d-block btn btn-default d-inline float-left mx-3" (click)="cleanForm()">Limpiar formulario
              <i class="fa fa-trash-o" aria-hidden="true"></i>
            </button>
          </div>
          <div class="card-body">
            <div class="form-body">
              <div class="row p-t-20">
                <div class="col-md-6">
                  <form [formGroup]="addTicketSupport" (ngSubmit)="addTicket()" novalidate autocomplete="off">
                    <div class="form-group">
                      <label for="field">* Seleccione de la lista el tema del ticket</label>
                      <select formControlName="field" name="field" id="field" class="form-control" title="field"
                        (change)="changeTema($event)">
                        <option [ngValue]=0 selected>Seleccione tema</option>
                        <option [ngValue]="tema.id" *ngFor="let tema of temas">
                          {{ tema.name }}
                        </option>
                      </select>
                      <span class="err text-danger"
                        *ngIf="addTicketSupport.get('field')?.invalid && addTicketSupport.get('field')?.touched && addTicketSupport.get('field')?.value != 0">
                        El <strong>tema es</strong> requerido
                      </span>
                      <span class="err text-danger"
                        *ngIf="addTicketSupport.get('field')?.touched && addTicketSupport.get('field')?.value == 0">
                        El <strong>tema es</strong> requerido
                      </span>
                    </div>
                    <div class="form-group">
                      <label for="codeRef">Referencia a un ticket: <span class="mytooltip tooltip-effect-3">

                        <span class="tooltip-item"><i class="fa fa-question-circle" aria-hidden="true"></i></span>
                         <span class="tooltip-content clearfix">
                          <span class="tooltip-text ml-5">Haga referencia a otro ticket para continuarlo, si cree que la primera explicación no le fue totalmente satisfactoria, tenga en cuenta que si el ticket esta cerrado no podrá continuarlo</span> </span>
                        </span></label>
                      <input formControlName="codeRef" id="codeRef" name="codeRef" class="form-control" type="text"
                        (keyup)="codeRefChange($event)">
                      <span *ngIf="checkTicketExitCode &&
                                   checkTicketExitCode.campo != undefined &&
                                   checkTicketExitCode.respondido == 0 &&
                                   checkTicketExitCode.campo != '' &&
                                   addTicketSupport.get('codeRef')?.value != ''" class="text-success">Este ticket fue
                        enviado el {{ checkTicketExitCode.fecha | date: 'dd-MM-yyyy HH:mm:ss' }}</span>
                      <span class="err text-danger"
                        *ngIf="addTicketSupport.get('codeRef')?.errors != null && addTicketSupport.get('codeRef')!.errors!['maxlength']">
                        El <strong>limite es de 10 caracteres</strong>
                      </span>
                      <span *ngIf="checkTicketExitCode &&
                                   checkTicketExitCode.campo != undefined &&
                                   checkTicketExitCode.campo != '' &&
                                   checkTicketExitCode.respondido == 1 &&
                                   addTicketSupport.get('codeRef')?.value != ''" class="text-danger">Este ticket fue
                        enviado el {{ checkTicketExitCode.fecha | date: 'dd-MM-yyyy HH:mm:ss' }} y esta cerrado.</span>
                    </div>

                    <div class="form-group">
                      <label for="message">* Describa el caso</label>
                      <p></p>
                      <textarea formControlName="message" name="message" id="message" cols="100" rows="10"
                        class="form-control"></textarea>
                      <span
                        *ngIf="addTicketSupport.get('message')?.value.length <= 500 && (addTicketSupport.get('message')?.value.length > 1 || addTicketSupport.get('message')?.value.length ==0)">
                        {{ addTicketSupport.get('message')?.value.length }} caracteres de 500 permitidos</span>
                      <span
                        *ngIf="addTicketSupport.get('message')?.value.length <= 500 && addTicketSupport.get('message')?.value.length == 1">
                        {{ addTicketSupport.get('message')?.value.length }} carácter de 500 permitidos</span>
                      <span class="err text-danger"
                        *ngIf="addTicketSupport.get('message')?.invalid && addTicketSupport.get('message')?.touched && !addTicketSupport.get('message')!.errors!['maxlength']">
                        El <strong>mensaje es</strong> requerido
                      </span>
                      <span class="err text-danger"
                        *ngIf="addTicketSupport.get('message')?.errors != null && addTicketSupport.get('message')!.errors!['maxlength']">
                        El <strong>limite es de 500 caracteres</strong>
                      </span>
                    </div>

                    <div class="form-actions">
                      <button type="submit" [disabled]="addTicketSupport.invalid || isDisabled() || checkTicketExitCode.respondido == 1"
                        class="btn-primary button d-inline">
                        <span
                          [matTooltip]="addTicketSupport.invalid || isDisabled() ? 'Faltan campos obligatorios' : checkTicketExitCode.respondido == 1 ? 'Ticket referencia cerrado, por favor cámbielo o bórrelo' : 'Elija enviar ticket'">Enviar
                          ticket soporte
                        </span>
                        <i class="fa fa-save p-1"></i>
                      </button>
                    </div>
                  </form>
                </div>
                <div class="col-md-6">
                  <div *ngIf="ticketsByUser.length > 0" class="form-group">
                    <label for="tickets" class="control-label">* Seleccione de la lista el ticket que desea
                      comprobar</label>
                    <select name="tickets" id="tickets" class="form-control" title="tickets"
                      (change)="changeTicketCode($event)">
                      <option [ngValue]=0 selected>Seleccione ticket</option>
                      <option [ngValue]="ticket.ticket_code" *ngFor="let ticket of ticketsByUser">
                        {{ ticket.ticket_code }}
                      </option>
                    </select>
                    <div *ngIf="ticketByUser" class="row">
                      <div class="tickets col-md-8 p-20">
                        <h4 class="card-title">Su Ticket: {{ ticketByUser.ticket_code }}</h4>
                        <ul class="list-unstyled">
                          <li class="media">
                            <img [matTooltip]="(user.user_rol == 2 ?  'Usuario: ' : user.user_rol == 1 ? 'Administrador: ' : user.user_rol == 3 ? 'Super Administrador: ' : '' ) + user.user_name" class="d-flex mr-3"
                              [src]="user && user.user_img ? url + '/uploads/' + user.user_img : './assets/images/icon/staff.png'"
                              width="100" [alt]="(user.user_rol == 2 ?  'Usuario: ' : user.user_rol == 1 ? 'Administrador: ' : user.user_rol == 3 ? 'Super Administrador: ' : '' ) + user.user_name">
                            <div class="media-body">
                              <h5 class="mt-0 mb-1">Tema: {{ ticketByUser.campo }}</h5>
                              <h6 class="mt-0 mb-1">Fecha: {{ ticketByUser.fecha | date: 'dd-MM-yyyy HH:mm:ss' }}</h6>
                              {{ ticketByUser.message }} <br>
                              <span class="text-danger" *ngIf="ticketByUser && ticketByUser.respondido == 0">Su ticket
                                no ha sido respondido, no tardaremos mucho</span> <br>
                              <span class="text-success" *ngIf="ticketByUser && ticketByUser.respondido != 0">Su ticket
                                ha sido respondido</span><br>
                              <div *ngIf="ticketByUser && ticketByUser.ticket_refer != ''">
                                <ul class="list-unstyled">
                                  <li *ngFor="let checkTicketCode of checkTicketsCode" class="text-success">
                                    Este ticket hace referencia al ticket <strong class="text-primary">{{
                                      checkTicketCode.ticket_refer }}</strong> <br>
                                    Con fecha: {{ checkTicketCode.fecha | date: 'dd-MM-yyyy HH:mm:ss' }} <br>
                                  </li>

                                </ul>
                              </div>
                            </div>
                          </li>
                        </ul>
                        <hr>
                        <div *ngIf="ticketByUser && ticketByUser.respondido != 0" class="row">
                          <ul class="list-unstyled">
                            <li class="media" *ngFor="let ticketTratado of ticketsTratadosByUser">
                              <div class="media mt-2 ml-5">
                                <a class="d-flex pr-3" href="#">
                                  <img
                                    [src]="user && user.user_img ? url + '/uploads/' + ticketTratado.user_img : './assets/images/icon/staff.png'"
                                    width="100" height="100" [matTooltip]="'Técnico:' + ticketTratado.user_name"
                                    [alt]="ticketTratado.user_name">
                                </a>
                                <div class="media-body">
                                  <h5 class="mt-0">Fecha Respuesta: {{ ticketTratado.fecha | date: 'dd-MM-yyyy HH:mm:ss'
                                    }}</h5>
                                  {{ ticketTratado.respuesta }}
                                  <div *ngIf="ticketTratadosByUser && ticketTratadosByUser.solucionado == 0">
                                    <span class="text-primary">Por favor indique este ticket como solucionado , sino tiene ninguna otra observación,
                                      si por el contrario necesita más información sobre el tema, abra otro ticket haciendo referencia a este número de ticket en la caja de texto destinada a tal efecto: <strong class="text-warning">"Referencia a un ticket:"</strong>, sino será cerrado automáticamente dentro de unos días.</span><p></p>
                                    <input [checked]="ticketTratadosByUser.solucionado != 0" type="checkbox"
                                      id="closeTicket" (change)="onCheckboxChange($event)">
                                    <label class="text-primary" for="closeTicket">Marcar como solucionado</label>
                                  </div>
                                  <div *ngIf="ticketTratadosByUser && ticketTratadosByUser.solucionado != 0">
                                    <span class="text-success">El ticket ha sido cerrado a la fecha: {{ ticketTratadosByUser.fecha_solucion | date: 'dd-MM-yyyy HH:mm:ss' }}</span>
                                  </div>
                                </div>
                              </div>
                              <span *ngIf="ticketTratadosByUser && ticketTratadosByUser.solucionado == 0"
                                class="badge badge-success">Abierto</span>
                              <span *ngIf="ticketTratadosByUser && ticketTratadosByUser.solucionado != 0"
                                class="badge badge-danger">Cerrado</span>
                            </li>

                          </ul>
                        </div>
                      </div>
                    </div>

                  </div>
                  <div *ngIf="ticketsByUser.length == 0" class="form-group">
                    <label for="field" class="control-label">* No dispone de tickets que comprobar</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
