.page-wrapper {
  position: fixed;
  width: 80%;
}

 .table3 {
  display: flex;
  flex-flow: column;

  height: 600px;
  overflow-y: auto;
  overflow-x: auto;
}

th {
  position: sticky !important;
  top: 0 !important;
}
/*
thead {
  padding-right: 13px;
  flex: 0 0 auto;

}

tbody {
  flex: 1 1 auto;
  display: block;
  overflow-y: auto;
  overflow-x: hidden;
}

tr {
  width: 100%;
  display: table;
  table-layout: fixed;
} 
*/
tbody tr:hover {
  background-color: #cfd6e2;
  cursor: pointer;
}

@media (max-width: 1440px) {
  .page-wrapper {
    position: relative !important;
    width: 100%;
  }
}

#div-img-user {
  background-image: url('../../../../assets/images/background/profile-bg.jpg');
  background-size: cover;
  height: 250px;
}

#img-user {
  border-radius: 50%;
  border: 10px solid #FEDE00;
}

.close {
  cursor: pointer;
  font-size: 35px;
}

.inputfile {
  display: none;
}

.container {
  display: inline-block;
  width: 100%;
}

.file-button {
  background: transparent;
  font-weight: 600;
  padding: 5px;
  position: relative;
  border: 1px solid;
  top: 10px;
  right: 0px;
  cursor: pointer;
}