<div class="page-wrapper">
  <!-- ============================================================== -->
  <!-- Container fluid  -->
  <!-- ============================================================== -->
  <div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <app-mat-spinner-overlay *ngIf="viewSpinner">
    </app-mat-spinner-overlay>
    <div class="row" *ngIf="!viewSpinner">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <div class="d-flex animated fadeIn">
              <div class="mr-auto">
                <div class="form-group">
                  <h3 class="text-themecolor">Listado de usuarios</h3>
                </div>
              </div>
              <div class="ml-auto">
                <div class="form-group">
                  <mat-form-field>
                    <input matInput (keyup)="applyFilter($event)" placeholder="Buscar por nombre...">
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="table3 table-responsive animated fadeInDown">
              <table class="table full-color-table full-primary-table hover-table">
                <thead>
                  <tr>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    <th>Teléfono</th>
                    <th>Email</th>
                    <th>Rol</th>
                    <th *ngIf="admin">Editar</th>
                    <th *ngIf="!admin">Ver</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let user of users | paginate: { id: 'users', itemsPerPage: 10, currentPage: page }">
                    <td>{{ user.user_name }}</td>
                    <td>{{ user.user_lastName }}</td>
                    <td>{{ user.user_phone }}</td>
                    <td>{{ user.user_email }}</td>
                    <td>{{ user.rol_name }}</td>
                    <td>
                      <a class="btn btn-warning" (click)="getUser(user)" data-toggle="modal" data-target=".md-users"><i
                          class="fa fa-user-plus"></i></a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="animated fadeInDown mt-2">
              <pagination-controls id="users" (pageChange)="page = $event" [previousLabel]="anterior" [nextLabel]="siguiente" [responsive]="true" [autoHide]="true"></pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- End Container fluid  -->
  <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Page wrapper  -->
<div class="row">
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <!-- sample modal content -->
        <div id="md" class="modal fade md-users" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
          aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" *ngIf="!admin && user && user.habilitado == 1">Ver datos del usuario</h4>
                <h4 class="modal-title text-danger" *ngIf="!admin && user && user.habilitado == 0">Ver datos del usuario (Usuario de baja desde: {{ user && user.fecha_baja }}) </h4>
                <h4 class="modal-title" *ngIf="admin && user && user.habilitado == 1">Modificar datos del usuario</h4>
                <h4 class="modal-title text-danger" *ngIf="admin && user && user.habilitado == 0">No se pueden modificar datos de un usuario de baja: ({{ user && user.fecha_baja | date: 'dd-MM-yyyy HH:mm:ss' }})</h4>
                <button type="button" class="close" matTooltip="close" [matTooltipPosition]="'after'"
                  data-dismiss="modal" aria-hidden="true">&Cross;</button>
              </div>
              <div class="card">
                <form [formGroup]="editUserForm" (ngSubmit)="editUser()" novalidate autocomplete="off">
                  <div class="card-body">
                    <div class="form-body">
                      <div class="row p-t-20">
                        <div class="col-md-6">
                          <div id="div-img-user" class="text-center">
                            <img id="img-user" [src]="user != undefined  ? url + '/uploads/' + user.user_img : './assets/images/icon/staff.png'" height="200px" width="200px"
                              alt="This is a small profile image"><br>
                            <input *ngIf="admin && !(user && user.habilitado == 0)"  accept="image/png,image/jpeg,image/jpg" formControlName="userimg" type="file"
                              name="userimg" id="userimg" class="inputfile" (change)='uploadFile($event)'>
                            <label class="label-control d-block text-light" for="userimg">
                              <span class="file-button">
                                <i class="fa fa-upload" aria-hidden="true"></i>
                                Seleccione imagen
                              </span>
                            </label>
                          </div>
                        </div>
                        <div class="col-md-6 mt-5">
                          <div class="form-group">
                            <label for="nombre" class="control-label">Nombre</label>
                            <input [readonly]="!admin || (user && user.habilitado == 0)" formControlName="nombre" type="text" id="nombre" name="nombre" class="form-control"
                              placeholder="Nombre">
                            <span class="err text-danger"
                              *ngIf="editUserForm.get('nombre')?.invalid && editUserForm.get('nombre')?.touched">
                              El <strong>nombre es</strong> requerido
                            </span>
                          </div>
                          <div class="form-group">
                            <label for="apellidos" class="control-label">Apellidos</label>
                            <input [readonly]="!admin || (user && user.habilitado == 0)" formControlName="apellidos" id="apellidos" name="apellidos" type="text"
                              class="form-control" placeholder="Apellidos">
                            <span class="err text-danger"
                              *ngIf="editUserForm.get('apellidos')?.invalid && editUserForm.get('apellidos')?.touched">
                              Los <strong>apellidos son</strong> requeridos
                            </span>
                          </div>
                        </div>

                      </div>
                      <!--/row-->
                      <div class="row mt-3">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="phone" class="control-label">Teléfono</label>
                            <input [readonly]="!admin || (user && user.habilitado == 0)" formControlName="phone" type="number" id="phone" name="phone"
                              class="form-control" placeholder="999999999">
                            <span class="err text-danger"
                              *ngIf="editUserForm.get('phone')?.invalid && editUserForm.get('phone')?.touched && !editUserForm.get('phone')!.errors!['pattern']">
                              El <strong>teléfono </strong>es requerido
                            </span>
                            <span class="err text-danger"
                              *ngIf="editUserForm.get('phone')!.errors != null && editUserForm.get('phone')!.errors!['pattern'] && editUserForm.get('phone')?.touched">
                              El <strong>Teléfono</strong> no es válido, debe ser 99999999
                            </span>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="email" class="control-label">Email</label>
                            <input [readonly]="!admin || (user && user.habilitado == 0)" formControlName="email" type="text" id="email" name="email" class="form-control"
                              placeholder="Email">
                            <span class="err text-danger"
                              *ngIf="editUserForm.get('email')?.invalid && editUserForm.get('email')?.touched && !editUserForm.get('email')!.errors!['pattern']">
                              El <strong>teléfono </strong>es requerido
                            </span>
                            <span class="err text-danger"
                              *ngIf="editUserForm.get('email')!.errors != null && editUserForm.get('email')!.errors!['pattern'] && editUserForm.get('email')?.touched">
                              El <strong>email</strong> no es válido
                            </span>
                          </div>
                        </div>
                      </div>
                      <!--/row-->
                    </div>
                    <div class="form-actions" *ngIf="admin">
                      <button type="submit" [disabled]="(user && user.habilitado == 0) || editUserForm.invalid" class="btn-primary button d-inline">
                        <span
                          [matTooltip]="editUserForm.invalid ? 'Faltan campos obligatorios' : (user && user.fecha_baja) ? 'Usuario de baja' : 'Guardar datos usuario'"
                          [matTooltipPosition]="'before'"
                          aria-label="Botón que guarda la información sobre el usuario">Guardar
                        </span>
                        <i class="fa fa-save p-1"></i>
                      </button>
                    </div>
                  </div>
                  <!-- <p>{{ getFormValidationErrors(editUserForm) }}</p> -->
                </form>
              </div>
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
      </div>
    </div>
  </div>
</div>
