<div class="page-wrapper">
  <!-- ============================================================== -->
  <!-- Container fluid  -->
  <!-- ============================================================== -->
  <div class="container-fluid animated fadeIn">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
      <div class="col-md-5 align-self-center">
        <h3 class="text-themecolor">Registrar empresa</h3>
      </div>
      <div class="">

      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div>
            <h3 class="card-title p-1">Solicitud de datos de la empresa</h3>
            <cite class="card-title p-1">los campos marcados con * son obligatorios</cite>
            <button type="button" matTooltip="Limpiar el formulario" class="btn btn-default d-inline float-right mx-3" (click)="cleanForm()">Limpiar formulario
              <i class="fa fa-trash-o" aria-hidden="true"></i>
            </button>
          </div>
          <div class="card-body">
            <div class="form-body">
              <hr>
              <form [formGroup]="addCompanyForm" (ngSubmit)="addCompany()" novalidate autocomplete="off">
                <div class="row p-t-20">
                  <div class="col-md-2">
                    <div class="form-group">
                      <label for="nombre" class="control-label">* Documento</label>
                      <input formControlName="cif" id="cif" name="cif" type="text" class="form-control"
                        placeholder="CIF, DNI, NIE" maxlength="9">
                      <span class="err text-danger"
                        *ngIf="addCompanyForm.get('cif')?.invalid && addCompanyForm.get('cif')?.touched && !addCompanyForm.hasError('invalidPattern')">
                        El <strong>documento es</strong> requerido
                      </span>
                      <span class="err text-danger"
                      *ngIf="addCompanyForm.hasError('invalidPattern')">
                      El <strong>documento</strong> no es válido
                    </span>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="nombre" class="control-label">* Nombre completo</label>
                      <input formControlName="nombre" id="nombre" name="nombre" type="text" class="form-control"
                        placeholder="Nombre completo">
                      <span class="err text-danger"
                        *ngIf="addCompanyForm.get('nombre')?.invalid && addCompanyForm.get('nombre')?.touched">
                        El <strong>nombre es</strong> requerido
                      </span>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="sector" class="control-label">* Sector</label>
                      <select formControlName="sector" name="sector" id="sector" class="form-control" title="Sector">
                        <option [ngValue]=0 selected>Seleccione sector</option>
                        <option [ngValue]="dato.sector_id" *ngFor="let dato of sectores">
                          {{dato.empresas_sector_name}}
                        </option>
                      </select>
                      <span class="err text-danger"
                        *ngIf="addCompanyForm.get('sector')?.invalid && addCompanyForm.get('sector')?.touched">
                        El <strong>sector es</strong> requerido
                      </span>
                      <span class="err text-danger"
                        *ngIf="addCompanyForm.get('sector')?.touched && addCompanyForm.get('sector')?.value == 0">
                        El <strong>sector es</strong> requerido
                      </span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <div class="form-group">
                      <label for="phone" class="control-label">* Teléfono</label>
                      <input formControlName="phone" type="number" name="phone" id="phone" class="form-control"
                        placeholder="9999999" maxlength="9">
                      <span class="err text-danger"
                        *ngIf="addCompanyForm.get('phone')?.invalid && addCompanyForm.get('phone')?.touched && !addCompanyForm.get('phone')!.errors!['pattern']">
                        El <strong>teléfono </strong>es requerido
                      </span>
                      <span class="err text-danger"
                        *ngIf="addCompanyForm.get('phone')!.errors != null && addCompanyForm.get('phone')!.errors!['pattern'] && addCompanyForm.get('phone')?.touched">
                        El <strong>teléfono</strong> no es válido, debe ser 99999999
                      </span>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label for="otherPhone" class="control-label">Otro Teléfono</label>
                      <input formControlName="otherPhone" type="number" name="otherPhone" id="otherPhone"
                        class="form-control" placeholder="9999999" maxlength="9">
                      <span class="err text-danger"
                        *ngIf="addCompanyForm.get('otherPhone')!.errors != null && addCompanyForm.get('otherPhone')!.errors!['pattern'] && addCompanyForm.get('otherPhone')?.touched">
                        El <strong>Teléfono</strong> no es válido, debe ser 99999999
                      </span>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="email" class="control-label">* Email</label>
                      <input formControlName="email" type="email" class="form-control" placeholder="Email" id="email"
                        name="email">
                      <span class="err text-danger"
                        *ngIf="addCompanyForm.get('email')?.invalid && addCompanyForm.get('email')?.touched && !addCompanyForm.get('email')!.errors!['pattern']">
                        El <strong>email es </strong>requerido
                      </span>
                      <span class="err text-danger"
                        *ngIf="addCompanyForm.get('email')!.errors != null && addCompanyForm.get('email')!.errors!['pattern'] && addCompanyForm.get('email')?.touched">
                        El <strong>email</strong> no es válido
                      </span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="contactPerson" class="control-label">Persona contacto</label>
                      <input formControlName="contactPerson" type="text" class="form-control" name="contactPerson"
                        id="contactPerson" placeholder="Persona contacto">
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="form-group">
                      <label for="installation_year" class="control-label">Año instalación</label>
                      <input formControlName="installation_year" type="number" class="form-control nec" name="installation_year"
                        id="installation_year" placeholder="Año instalación" [min]="1900" [max]="actualYear" [maxlength]="4">
                        <span class="err text-danger"
                        *ngIf="addCompanyForm.get('installation_year')!.errors != null && addCompanyForm.get('installation_year')!.errors!['max'] && addCompanyForm.get('installation_year')?.touched">
                        El <strong>campo</strong> no es válido, fecha máxima de {{actualYear}}
                      </span>
                        <span class="err text-danger"
                        *ngIf="addCompanyForm.get('installation_year')!.errors != null && addCompanyForm.get('installation_year')!.errors!['min'] && addCompanyForm.get('installation_year')?.touched">
                        El <strong>campo</strong> no es válido, fecha mínima de 1900
                      </span>
                        <span class="err text-danger"
                        *ngIf="addCompanyForm.get('installation_year')!.errors != null && addCompanyForm.get('installation_year')!.errors!['maxlength'] && addCompanyForm.get('installation_year')?.touched">
                        El <strong>campo</strong> no es válido, máximo 4 cifras
                      </span>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="form-group">
                      <label for="workers_number" class="control-label">Nº Trabajadores</label>
                      <input formControlName="workers_number" type="number" class="form-control" name="workers_number"
                        id="workers_number" placeholder="Nº Trabajadores">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="address" class="control-label">* Dirección</label>
                      <input formControlName="address" type="text" class="form-control" name="address"
                        id="direccion" placeholder="Dirección">
                      <span class="err text-danger"
                        *ngIf="addCompanyForm.get('address')?.invalid && addCompanyForm.get('address')?.touched">
                        La <strong>dirección</strong> es requerida
                      </span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="district" class="control-label">* Distrito</label>
                      <select formControlName="distrito" name="distrito" id="distrito" class="form-control"
                        title="Distrito">
                        <option [ngValue]=0 selected>Seleccione distrito</option>
                        <option [ngValue]="dato.distrito_id" *ngFor="let dato of distritos">
                          {{dato.distrito_name}}
                        </option>
                      </select>
                      <span class="err text-danger"
                        *ngIf="addCompanyForm.get('distrito')?.invalid && addCompanyForm.get('distrito')?.touched">
                        El <strong>distrito es</strong> requerido
                      </span>
                      <span class="err text-danger"
                        *ngIf="addCompanyForm.get('distrito')?.touched && addCompanyForm.get('distrito')?.value == 0">
                        El <strong>distrito es</strong> requerido
                      </span>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="polygon" class="control-label">* Polígono</label>
                      <select formControlName="polygon" name="polygon" id="pologono" class="form-control"
                        title="Polígono">
                        <option [ngValue]=0 selected>Seleccione polígono</option>
                        <option [ngValue]="dato.poligono_id" *ngFor="let dato of poligonos">
                          {{dato.empresas_poligono_name}}
                        </option>
                      </select>
                      <span class="err text-danger"
                        *ngIf="addCompanyForm.get('polygon')?.invalid && addCompanyForm.get('polygon')?.touched">
                        El <strong>polígono es</strong> requerido
                      </span>
                      <span class="err text-danger"
                        *ngIf="addCompanyForm.get('polygon')?.touched && addCompanyForm.get('polygon')?.value == 0">
                        El <strong>polígono es</strong> requerido
                      </span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="provincia" class="control-label">Provincia</label>
                      <input [readonly]="true" formControlName="provincia" type="text" class="form-control"
                        name="provincia" id="provincia" placeholder="Madrid" [value]="region">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="localidad" class="control-label">Localidad</label>
                      <input [readonly]="true" formControlName="localidad" type="text" class="form-control"
                        name="localidad" id="localidad" placeholder="Móstoles" [value]="city">
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="cod_postal" class="control-label">* Código postal</label>
                      <input formControlName="cod_postal" type="number" class="form-control nec" name="cod_postal"
                        id="cod_postal" placeholder="Código postal 289--" [min]="28900" [max]="28999" [maxlength]="5">
                      <span class="err text-danger"
                        *ngIf="addCompanyForm.get('cod_postal')?.invalid && addCompanyForm.get('cod_postal')?.touched && !addCompanyForm.get('cod_postal')!.errors">
                        El <strong>código postal</strong> es requerido
                      </span>
                      <span class="err text-danger"
                        *ngIf="addCompanyForm.get('cod_postal')!.errors != null && addCompanyForm.get('cod_postal')!.errors!['pattern'] &&
                        !addCompanyForm.get('cod_postal')!.errors!['max'] &&
                        addCompanyForm.get('cod_postal')?.touched">
                        El <strong>código postal</strong> no es válido, debe ser 289 + 2 números
                      </span>
                      <span class="err text-danger"
                        *ngIf="addCompanyForm.get('cod_postal')!.errors != null && addCompanyForm.get('cod_postal')!.errors!['max'] && addCompanyForm.get('cod_postal')?.touched">
                        El <strong>campo</strong> no es válido, máximo 5 cifras
                      </span>
                    </div>
                  </div>
                </div>
                <div class="form-actions">
                  <button type="submit" [disabled]="addCompanyForm.invalid || isDisabled()" class="btn-primary button d-inline">
                    <span
                      [matTooltip]="addCompanyForm.invalid || isDisabled() ? 'Faltan campos obligatorios' : 'Elija guardar y añadir datos de red y web después seleccionando la empresa en la tabla (Listado de empresas)'">Guardar
                    </span>
                    <i class="fa fa-save p-1"></i>
                  </button>
                  <button type="button" [disabled]="addCompanyForm.invalid || isDisabled()" (click)="setRedes()"
                    class="button d-inline float-right">
                    <span [matTooltip]="addCompanyForm.invalid || isDisabled() ? 'Faltan campos obligatorios' : 'Elija siguiente para añadir datos de red y web'
                  ">Añadir redes </span>
                    <i class="fas fa-long-arrow-alt-right p-1"></i> </button>
                  </div>
                  <!-- <p class="d-inline text-danger mx-5" *ngIf="addCompanyForm.touched && (addCompanyForm.invalid || isDisabled())">{{ getFormValidationErrors(addCompanyForm) | json }}</p> -->

              </form>
              <div *ngIf="addCompanyForm.touched && (addCompanyForm.invalid || isDisabled())" class="row">
                <div class="col-offset-2 col-md-6">
                  <table  class="table table-striped text-danger">
                    <thead class="thead-dark">
                      <tr>
                        <th>Campo</th>
                        <th>Error</th>
                        <th>Valor</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let field of getFormValidationErrors(addCompanyForm)">
                        <td>{{ field.Campo | titlecase }}</td>
                        <td>{{ field.Error }}</td>
                        <td>{{ field.Valor }}</td>
                      </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
