<div class="page-wrapper">
  <!-- ============================================================== -->
  <!-- Container fluid  -->
  <!-- ============================================================== -->
  <div class="container-fluid animated fadeIn">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
      <div class="col-md-5 align-self-center">
        <h3 class="text-themecolor">Registrar empresa</h3>
      </div>
      <div class="">

      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="card">

          <div class="card-body">
            <div class="form-body">
              <h3 class="card-title">Solicitud de datos de redes de la empresa</h3>
              <hr>
              <div class="row p-t-20">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="name" class="control-label">
                      <i class="fa fa-globe p-2 bg-primary text-white" aria-hidden="true"></i>
                      Página Web</label>
                    <input id="web" name="web" type="text" class="form-control" placeholder="Página web">
                  </div>
                </div>
                <!--/span-->
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="facebook" class="control-label">
                      <i class="fa fa-facebook p-2 bg-info text-white" aria-hidden="true"></i>
                      Facebook</label>
                    <input id="facebook" name="facebook" type="text" class="form-control" placeholder="Facebook">

                  </div>
                </div>
                <!--/span-->
              </div>
              <!--/row-->
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="instagram" class="control-label">
                      <i class="fa fa-instagram p-2 bg-warning text-white" aria-hidden="true"></i>
                      Instagram</label>
                    <input id="instagram" name="instagram" type="link" class="form-control" placeholder="nombre usuario">
                  </div>
                </div>
                <!--/span-->
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="twitter" class="control-label">
                      <i class="fa fa-twitter p-2 bg-info text-white" aria-hidden="true"></i>
                      Twitter</label>
                    <input id="twitter" name="twitter" type="link" class="form-control" placeholder="@usuario">
                  </div>
                </div>
                <!--/span-->
              </div>
              <!--/row-->
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="linkedin" class="control-label">
                      <i class="fa fa-linkedin p-2 bg-primary text-white" aria-hidden="true"></i>
                      Linkedin</label>
                    <input id="linkedin" name="linkedin" type="link" class="form-control" placeholder="Linkedin">
                  </div>
                </div>
                <!--/span-->
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="tiktok" class="control-label">
                      <img width="32" src="../../../assets/images/icon/tiktok-icon-black-1-logo-svgrepo-com.svg" aria-hidden="true"/>
                      Tiktok</label>
                    <input id="tiktok" name="tiktok" type="link" class="form-control" placeholder="@usuario">
                  </div>
                </div>
                <!--/span-->
              </div>
              <!--/row-->
            </div>
            <div class="form-actions">
              <button type="button" class="btn btn-success" matTooltip="Guardar datos de red y web"> <i
                  class="fa fa-check"></i> Guardar </button>
              <button type="button" routerLink="/dashboard/add-company" class="btn btn-primary float-right p-y-2"
                matTooltip="Elija volver para añadir datos de la empresa"><i class="fas fa-long-arrow-alt-left"></i>
                Volver</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Row -->
  </div>
</div>
