.input-container {
    display: flex;
    align-items: center;
    padding: 4px;
    gap: 4px;
  }

  .input-container i {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .inp {
    height: 36px;
    line-height: 36px;
    cursor: pointer;
  }
