.mat-table {
    overflow-y: auto;
  }
  
  .tblList th {
    text-align: center;
    font-weight: 700 !important;
    font-family: Monserrat, Arial, Helvetica, sans-serif !important;
    font-size: 1.2em;
    padding: .5em 5em !important;
    vertical-align: middle !important;
  }
  
  .tblList td {
    font-weight: 900 !important;
    font-family: Monserrat, Arial, Helvetica, sans-serif !important;
    font-size: 11px;
    color: cadetblue;
    padding: .5rem .5rem .5rem .5rem !important;
  }
  
  .table>thead {
    vertical-align: middle !important;
  }
  
  table {
    width: 50% !important;
  }
  
  .tblList {
    background-color: azure;
    cursor: pointer;
  }
  
  th.cdk-column-Nombre {
    width: 25% !important;
  }
  
  th.cdk-column-Distrito {
    width: 20% !important;
  }

  th.cdk-column-Fecha-baja {
    width: 40% !important;
  }
  
  mat-paginator {
    position: fixed;
  }
  
  .fx {
    position: fixed !important;
  }
  
  .fx1 {
    position: fixed !important;
    margin-top: -2%
  }
  
  @media (max-width: 1440px) {
    .fx, .fx1 {
      position: relative !important;
    }
    mat-paginator {
      position: relative;
    }
  }
  