<div class="page-wrapper">
  <!-- ============================================================== -->
  <!-- Container fluid  -->
  <!-- ============================================================== -->
  <div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <app-mat-spinner-overlay *ngIf="viewSpinner">
    </app-mat-spinner-overlay>
    <div class="row" *ngIf="!viewSpinner">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <div class="d-flex animated fadeIn">
                <div class="mr-auto">
                  <div class="form-group">
                    <h3 class="text-themecolor">Historial empresas habilitadas</h3>
                  </div>
                </div>
                <div class="ml-auto">
                  <div class="form-group">
                    <mat-form-field>
                      <input matInput (keyup)="applyFilter($event, 1)" placeholder="Buscar por nombre...">
                    </mat-form-field>
                  </div>
                </div>
              </div>              
              <div class="table1 table-responsive animated fadeInDown">
                <table class="table full-color-table full-primary-table hover-table">
                  <thead>
                    <tr>
                      <th class="tdName">Nombre</th>
                      <th class="tdEmail">Email</th>
                      <th>Teléfono</th>
                      <th>Fecha Alta</th>
                      <th>Usuario alta</th>
                      <th *ngIf="admin">Deshabilitar</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let emp of empresasHab | paginate: { id: 'hab', itemsPerPage: 20, currentPage: page }">
                      <td class="tdName" (click)="getEmpresa(emp, true)" >{{ emp['Nombre'] | titlecase }}</td>
                      <td class="tdEmail" (click)="getEmpresa(emp, true)" >{{ emp['Email'] }}</td>
                      <td (click)="getEmpresa(emp, true)" >{{ emp['Telefono'] }}</td>
                      <td (click)="getEmpresa(emp, true)" >{{ emp['Fecha alta'] | date: 'dd-MM-yyyy' }}</td>
                      <td (click)="getEmpresa(emp, true)" >{{ emp['Usuario alta'] }}</td>
                      <td *ngIf="admin">
                        <a class="btn btn-warning" (click)="getEmpresa(emp, false, 0)"><i class="fa fa-check"></i></a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="animated fadeInDown mt-2">
                <pagination-controls id="hab" (pageChange)="page = $event" [previousLabel]="anterior" [nextLabel]="siguiente" [responsive]="true"></pagination-controls>
              </div>
            </div>
          </div>
        </div>
      </div>
    <div class="row" *ngIf="!viewSpinner">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <div class="d-flex animated fadeIn">
              <div class="mr-auto">
                <div class="form-group">
                  <h3 class="text-themecolor">Historial empresas inhabilitadas</h3>
                </div>
              </div>
              <div class="ml-auto">
                <div class="form-group">
                  <mat-form-field>
                    <input matInput (keyup)="applyFilter($event, 0)" placeholder="Buscar por nombre...">
                  </mat-form-field>
                </div>
              </div>
            </div>

            <div class="table1 table-responsive animated fadeInDown">
              <table class="table full-color-table full-primary-table hover-table">
                <thead>
                  <tr>
                    <th>Nombre</th>
                    <th>Email</th>
                    <th>Teléfono</th>
                    <th>Fecha Alta</th>
                    <th>Usuario alta</th>
                    <th>Fecha Baja</th>
                    <th>Usuario baja</th>
                    <th *ngIf="admin">Habilitar</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let emp of empresasInHab | paginate: { id: 'inHab', itemsPerPage: 5, currentPage: page2 }">
                    <td (click)="getEmpresa(emp, true)">{{ emp['Nombre'] }}</td>
                    <td (click)="getEmpresa(emp, true)">{{ emp['Email'] }}</td>
                    <td (click)="getEmpresa(emp, true)">{{ emp['Telefono'] }}</td>
                    <td (click)="getEmpresa(emp, true)">{{ emp['Fecha alta'] | date: 'dd-MM-yyyy' }}</td>
                    <td (click)="getEmpresa(emp, true)">{{ emp['Usuario alta'] }}</td>
                    <td (click)="getEmpresa(emp, true)">{{ emp['Fecha baja'] | date: 'dd-MM-yyyy' }}</td>
                    <td (click)="getEmpresa(emp, true)">{{ emp['Usuario baja'] }}</td>
                    <td *ngIf="admin">
                      <a class="btn btn-warning" (click)="getEmpresa(emp, false, 1)" ><i class="fa fa-check"></i></a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="animated fadeInDown mt-2">
              <pagination-controls id="inHab" (pageChange)="page2 = $event" [previousLabel]="anterior" [nextLabel]="siguiente" [responsive]="true" [autoHide]="true"></pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
