<div class="page-wrapper">
  <!-- ============================================================== -->
  <!-- Container fluid  -->
  <!-- ============================================================== -->
  <app-mat-spinner-overlay *ngIf="load">
  </app-mat-spinner-overlay>
  <div class="container-fluid animated fadeInDown">
    <div class="row page-titles">
      <div class="col-md-5 align-self-center">
        <h3 class="text-themecolor">Buzón</h3>
      </div>
    </div>
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Lista de correos de usuarios</h4>
            <h6 class="card-subtitle">Lista de los correos enviados y recibidos por los usuarios</h6>
            <div class="row m-t-40">
              <div class="col-md-3 col-lg-2 col-xlg-2">
                <div class="card">
                  <div class="box bg-primary text-center">
                    <h1 class="font-light text-white">{{ emailsTotal }}</h1>
                    <h6 class="text-white">Total emails</h6>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-lg-2 col-xlg-2">
                <div class="card">
                  <div class="box bg-success text-center">
                    <h1 class="font-light text-white">{{ emailsUnreadTotal }}</h1>
                    <h6 class="text-white">No leídos</h6>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-lg-2 col-xlg-2">
                <div class="card">
                  <div class="box bg-info text-center">
                    <h1 class="font-light text-white">{{ emailsReadTotal }}</h1>
                    <h6 class="text-white">Leídos</h6>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-lg-2 col-xlg-2">
                <div class="card">
                  <div class="box bg-warning text-center">
                    <h1 class="font-light text-white">{{ emailsFavoritesTotal }}</h1>
                    <h6 class="text-white">Favoritos</h6>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-lg-2 col-xlg-2">
                <div class="card">
                  <div class="box bg-danger text-center">
                    <h1 class="font-light text-white">{{ emailsDeletedTotal }}</h1>
                    <h6 class="text-white">Eliminados</h6>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-lg-2 col-xlg-2">
                <div class="card">
                  <div class="box bg-secondary text-center">
                    <h1 class="font-light text-white">{{ emailsSendedTotal }}</h1>
                    <h6 class="text-white">Enviados</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="row">
                <div class="col-xlg-2 col-lg-3 col-md-4">
                  <div class="card-body inbox-panel"><a [routerLink]="['/dashboard/technical-emails-send']" routerLinkActive="router-link-active"
                      class="btn btn-danger m-b-20 p-10 btn-block waves-effect waves-light">Redactar email</a>
                    <ul class="list-group list-group-full">
                      <li class="list-group-item" (click)="filterInBox()"> <a ><i
                            class="mdi mdi-gmail"></i>
                          Entrada </a><span class="badge badge-success ml-auto">{{ emailsUnreadTotal }}</span>
                      </li>
                      <li class="list-group-item" (click)="filterFavorites()">
                        <a > <i class="mdi mdi-star">
                          </i> Favoritos </a>
                        <span class="badge badge-warning ml-auto">{{ emailsFavoritesTotal }}</span>
                      </li>
                      <li class="list-group-item" (click)="filterSended()">
                        <a > <i class="mdi mdi-file-document-box"></i> Enviado </a>
                        <span class="badge badge-secondary ml-auto">{{ emailsSendedTotal }}</span>
                      </li>
                      <li class="list-group-item" (click)="filterDeleted()">
                        <a> <i class="mdi mdi-delete"></i> Papelera </a>
                        <span class="badge badge-danger ml-auto">{{ emailsDeletedTotal }}</span>
                      </li>
                    </ul>
                    <h3 class="card-title m-t-40">Etiquetas</h3>
                    <div class="list-group b-0 mail-list">
                      <a class="list-group-item" (click)="filterByLabel('Inscription')">
                        <span class="fa fa-circle text-info m-r-10"></span>
                        Inscripción
                      </a>
                      <a class="list-group-item" (click)="filterByLabel('Notices')">
                        <span class="fa fa-circle text-warning m-r-10"></span>
                        Avisos
                      </a>
                      <a class="list-group-item" (click)="filterByLabel('Communication')">
                        <span class="fa fa-circle text-danger m-r-10"></span>
                        Comunicación
                      </a>
                      <a class="list-group-item" (click)="filterByLabel('Company')">
                        <span class="fa fa-circle text-success m-r-10">
                        </span>Empresa
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-xlg-10 col-lg-9 col-md-8 bg-light-part b-l">
                  <div class="card-body">
                    <div class="btn-group m-b-10 m-r-10" role="group" aria-label="Button group with nested dropdown">
                      <button type="button" class="btn btn-secondary font-18"><i
                          class="mdi mdi-inbox-arrow-down"></i></button>
                      <button type="button" class="btn btn-secondary font-18"><i
                          class="mdi mdi-alert-octagon"></i></button>
                      <button type="button" class="btn btn-secondary font-18" matTooltip="Borrar marcados" (click)="deleteEmails()"><i
                          class="mdi mdi-delete"></i></button>
                    </div>
                    <!-- <div class="btn-group m-b-10 m-r-10" role="group" aria-label="Button group with nested dropdown">
                      <div class="btn-group" role="group">
                        <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle"
                          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i
                            class="mdi mdi-folder font-18 "></i> </button>
                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1"> <a class="dropdown-item"
                            href="#">Dropdown link</a> <a class="dropdown-item" href="#">Dropdown link</a> </div>
                      </div>
                      <div class="btn-group" role="group">
                        <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle"
                          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i
                            class="mdi mdi-label font-18"></i> </button>
                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1"> <a class="dropdown-item"
                            href="#">Dropdown link</a> <a class="dropdown-item" href="#">Dropdown link</a> </div>
                      </div>
                    </div> -->
                    <button type="button" class="btn btn-secondary m-r-10 m-b-10" matTooltip="Recargar"
                      (click)="getEmails()"><i class="mdi mdi-reload font-18"></i></button>
                    <div class="btn-group m-b-10" role="group">
                      <button id="btnGroupDrop1" type="button" class="btn m-b-10 btn-secondary font-18 dropdown-toggle"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Más </button>
                      <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                        <a class="dropdown-item" (click)="checkAll(false)">Marcar todos como leídos</a>
                        <a class="dropdown-item" (click)="checkAll(true)">Marcar todos como no leídos</a>
                      </div>
                    </div>
                  </div>
                  <div class="card-body p-t-0">
                    <div class="card b-all shadow-none">
                      <div class="inbox-center table-responsive">
                        <table class="table table-hover no-wrap">
                          <caption><cite class="font-10">Click para detalles</cite></caption>
                          <thead>
                            <th *ngIf="!isInTrash" scope="col" sortableEmail="unread" (sortEmail)="onSort($event)">M</th>
                            <th *ngIf="isInTrash" scope="col" sortableEmail="deleted" (sortEmail)="onSort($event)">Del</th>
                            <th scope="col" sortableEmail="favorite" (sortEmail)="onSort($event)">Fav</th>
                            <th scope="col" sortableEmail="from" (sortEmail)="onSort($event)">Desde</th>
                            <th scope="col" sortableEmail="subject" (sortEmail)="onSort($event)">Asunto</th>
                            <th scope="col" sortableEmail="favorite" (sortEmail)="onSort($event)">Mensaje</th>
                            <th scope="col" sortableEmail="bodyText" (sortEmail)="onSort($event)">Adjuntos</th>
                            <th scope="col" sortableEmail="date" (sortEmail)="onSort($event)">Fecha</th>
                          </thead>
                          <tbody>
                            <tr
                              *ngFor="let email of emails | paginate: { id: 'emails', itemsPerPage: 10, currentPage: page }"
                              [ngClass]="{read: email.unread == !0, unread: email.unread != !1}">
                              <td class="w-40">
                                <div class="checkbox">
                                  <input type="checkbox" [id]="email.idEmail + 'checkbox'" name="check"
                                    title="Marcar como leído" (change)="checkRead(email)" [checked]="email.unread != !1">
                                  <label [for]="email.idEmail + 'checkbox'"
                                    [matTooltip]="email.unread != !0 ? 'Marcar como leído' : 'Marcar como no leído'"></label>
                                </div>
                              </td>
                              <td class="w-40" [ngSwitch]="email.favorite"
                                [matTooltip]="email.favorite != !0 ? 'Marcar como favorito' : 'Quitar de favoritos'"
                                (click)="markFavorite(email)">
                                <i *ngSwitchCase="false" class="fa fa-star-o"></i>
                                <i *ngSwitchCase="true" class="fa fa-star text-warning"></i>
                              </td>
                              <td (click)="navigateToDetail(email)" [matTooltip]="(email.label.includes('inscription') && (email.formInscription != null || email.formInscription != undefined )) ? email.formInscription.companyEmail : (email && email.from != undefined) ? email.from : 'Sin Datos'"
                                >
                                {{ (email.label.includes('inscription') && (email.formInscription != null || email.formInscription != undefined )) ? email.formInscription.companyEmail :
                                (email && email.from != undefined) ? email.from : 'Sin Datos' }}</td>
                              <td class="ms" [matTooltip]="email.subject">{{ email.subject }}</td>
                              <td class="max-texts ms" (click)="navigateToDetail(email)">
                                <div [ngSwitch]="email.label" class="d-inline">
                                  <span class="label label-info m-r-10 d-inline"
                                    *ngSwitchCase="'Inscription'">Inscripción</span>
                                  <span class="label label-warning m-r-10 d-inline"
                                    *ngSwitchCase="'Notices'">Avisos</span>
                                  <span class="label label-danger m-r-10 d-inline"
                                    *ngSwitchCase="'Communication'">Comunicación</span>
                                  <span class="label label-success m-r-10 d-inline"
                                    *ngSwitchCase="'Company'">Empresa</span>
                                </div>
                                <span *ngIf="email.bodyText != ''">{{ email.bodyText }}</span>
                                <span *ngIf="email.bodyText == '' && email.bodyHtml != ''">{{ email.bodyHtml }}</span>
                                <span *ngIf="email.bodyText == '' && email.bodyHtml == '' && email.bodyEtc !== ''">{{ email.bodyEtc }}</span>
                              </td>
                              <td>
                                <i *ngIf="email.attachments && email.attachments!.length > 0" class="fa fa-paperclip">
                                  <span class="badge badge-success ml-1"
                                    [matTooltip]="email.attachments.length === 1 ? '1 archivo adjunto' : email.attachments.length + ' archivos adjuntos' ">
                                    {{ email.attachments.length }}</span>
                                </i>
                              </td>
                              <td> {{ email.date | date: 'dd-MM-yyyy HH:mm:ss'}} </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <div class="animated fadeInDown mt-2">
                        <pagination-controls id="emails" (pageChange)="page = $event" [previousLabel]="anterior"
                          [nextLabel]="siguiente" [responsive]="true" [autoHide]="true"></pagination-controls>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
