.contact-list td img {
  width: 30px;
}

td.label {
  padding: 3px 10px !important;
  line-height: 13px;
  color: #ffffff;
  font-weight: 400;
  border-radius: 4px;
  font-size: 75% !important;
  margin-top: 20px;
}

td, tr {
  cursor: pointer;
}

.ms {
  width: 2500px !important;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 250px;
}

#ticketMessage, .bg {
  background-color: rgb(226, 231, 217);
}

#img-user {
  border-radius: 50%;
  border: 10px solid #FEDE00;
}

#img-user-mini {
  border-radius: 50%;
  border: 2px solid #1494e9;
}

.close {
  cursor: pointer;
  font-size: 35px;
}